/* CSS Document */

body{ margin:0px; padding:0px ;   background-color: #eaeef3;}











@media screen and (max-width: 1200px) {}
@media screen and (max-width: 1064px) {}
@media screen and (max-width: 1024px) {}
@media screen and (max-width: 992px) {}
@media screen and (max-width: 768px) {}
@media screen and (max-width: 680px) {}
@media screen and (max-width: 480px) {}
@media screen and (max-width: 360px) {}